<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RMVN_Studio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RMVN_Studio.Properties.Settings>
            <setting name="ASIODriverName" serializeAs="String">
                <value />
            </setting>
            <setting name="AsioDriverIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BPM" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="MixerChoose" serializeAs="String">
                <value>0</value>
            </setting>
        </RMVN_Studio.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CSCore" publicKeyToken="5a08f2b6f4415dea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.2" newVersion="1.2.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
