<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CannedBytes" version="2.0.1" targetFramework="net472" />
  <package id="CannedBytes.Media" version="2.0.1" targetFramework="net472" />
  <package id="CannedBytes.Media.IO" version="2.0.1" targetFramework="net472" />
  <package id="CannedBytes.Midi" version="2.0.2" targetFramework="net472" />
  <package id="CannedBytes.Midi.Components" version="2.0.2" targetFramework="net472" />
  <package id="CannedBytes.Midi.IO" version="2.0.2" targetFramework="net472" />
  <package id="CannedBytes.Midi.Message" version="2.0.2" targetFramework="net472" />
  <package id="CSCore" version="1.2.1.2" targetFramework="net472" />
  <package id="CSCore.Ffmpeg" version="1.2.0-beta1" targetFramework="net472" />
  <package id="NAudio" version="1.10.0" targetFramework="net461" />
  <package id="NAudio.Lame" version="1.1.6" targetFramework="net472" />
  <package id="ProgressBar" version="1.0.10" targetFramework="net461" />
  <package id="VST.NET.x64" version="1.1" targetFramework="net472" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net461" />
</packages>